[submodule "mol"]
	path = mol
	url = https://github.com/eigenmethod/mol.git
[submodule "node"]
	path = node
	url = https://github.com/nin-jin/pms-node.git
[submodule "jin"]
	path = jin
	url = https://github.com/nin-jin/pms-jin.git
